* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(17, 56, 17);
}

.tekst{
    color: whitesmoke;
}
.container {
    margin: 25px;
    display: flex;
    justify-content: center;
}

h1 {
    margin-left: 15px;
    padding-top: 20px;
}
h5{
    font-size: 5em;
}

.card{
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    color: rgb(17, 56, 17);
}

footer{
    background-color: whitesmoke;
    color: rgb(17, 56, 17);
    display: flex;
    justify-content: center;
    padding: 15px 15px 5px 15px;
    margin-top: 20px;
}

@media screen and (min-width: 767px) {
    .space-odyssey p{
        margin-bottom: 60px;
    }
}


@media screen and (min-width: 797px) {
    .interstellar p{
        margin-bottom: 35px;
    }
}


@media screen and (min-width: 1200px) {
    .alien p{
        margin-bottom: 60px;
    }
}